<!DOCTYPE html>
<html>
	<head>
		<title>iAdmin Site</title>
		<script src="js/my.js"></script>
		<script src="js/libmy.js"></script>
		<script src="js/vue.min.js"></script>
		<link rel="stylesheet" href="css/bootstrap.min.css"></link>
		<meta name="viewport" content="width=device-width" initial-scale="1.0" user-scalable="no" charset="utf-8" />
		<script src="js/simplemde.min.js"></script>
		<link rel="stylesheet" href="lib/simplemde.min.css"></link>
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.10.0/firebase-app.js"></script>

<script src="https://www.gstatic.com/firebasejs/7.10.0/firebase-storage.js"></script>

<script src="https://www.gstatic.com/firebasejs/7.10.0/firebase-database.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
	 https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.10.0/firebase-analytics.js"></script>

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
	apiKey: "AIzaSyBLHGwZfk0XoRAtM6WwgqtKbEpAM4z6OSw",
	authDomain: "store-app-7e82d.firebaseapp.com",
	databaseURL: "https://store-app-7e82d.firebaseio.com",
	projectId: "store-app-7e82d",
	storageBucket: "store-app-7e82d.appspot.com",
	messagingSenderId: "465528518914",
	appId: "1:465528518914:web:f965f61aa254a4d8ab6a1b",
	measurementId: "G-KRD443YXML"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-4">	
					<img class="icon border" :src="iconbase" @click=inpMediaIcon>
				</div>
				<div class="col">
					<input class="appea-none" style="width: 150px" v-model=name /><br>
					<input class="appea-none" style="width: 150px" v-model=size />
				</div>
			</div>
			
			<!-- Information -->
			<div class="row mt-7">
				<div class="col-12 text-bold h6 mb-0">
					Information
				</div>
				<div class="col-12">
					<table class="table table-sm w3-7 border-0 small">
						<tr class="border-0">
							<td class="text-secondary border-0"> Package id </td>
							<td class="border-0 text-bold"><input class="appea-none" v-model=package /></td>
						</tr>
						<tr class="border-0">
							<td class="text-secondary border-0"> Developer </td>
							<td class="border-0 text-bold"><input class="appea-none" v-model=infor.developer /></td>
						</tr>
						<tr class="border-0">
							<td class="text-secondary border-0"> Category </td>
							<td class="border-0 text-bold"><input class="appea-none" v-model=infor.category /></td>
						</tr>
						<tr class="border-0">
							<td class="text-secondary border-0"> Compatibility </td>
							<td class="border-0 text-bold"><input class="appea-none" v-model=infor.compatibility /></td>
						</tr>
						<tr class="border-0">
							<td class="text-secondary border-0"> Languages </td>
							<td class="border-0 text-bold"><input class="appea-none" v-model=infor.languages /></td>
						</tr>
					</table>
				</div>
			</div>
			
			<!-- Versions -->
			<div class="row mt-3">
				<div class="col-12 text-bold h6 mb-0">
					Versions
				</div>
				<div class="col-12 mt-3">
					<div class="input-group">
						<textarea class="form-control" v-model="versions" placeholder='"key" = "URL"'></textarea>
					</div>
				</div>
			</div>
			
			<!-- Typeof -->
			<div class="row mt-3">
				<div class="col-12 text-bold h6 mb-0">
					Type
				</div>
				<div class="col-12 mt-3">
					<div class="input-group input-group-sm">
						<select class="form-control custom-select" v-model="type"></textarea>
							<option value="app" selected> All </option>
							<option value="game"> Game </option>
						</select>
					</div>
				</div>
			</div>
			
			<!-- Screenshoot -->
			<div class="row mt-3">
				<div class="col-12 text-bold h6 mb-0">
					Screenshoot
				</div>
				<div class="col-12 mt-3">
					<div class="scroll">
						<media class="img-fluid screenshoot ml-3 border" v-for="(file, key) in screenshoot" :file=file :key=key></media>

						<img class="img-fluid screenshoot ml-3 border" @click="inpMedia"/>
					</div>
				</div>
			</div>
			
			<!-- Description -->
			<div class="row mt-3">
				<div class="col-12 text-bold h6 mb-0 icon-more">
					Description
				</div>
				<div class="col-12 my-3 small text-secondary">
					<textarea ref="description"></textarea>
				</div>
			</div>
			<div class="row mt-3">
				<div class="col">
					<div class="alert alert-primary" v-if="!!nameProgress">
						<div class="alert-body">
Name Progress: {{ nameProgress }}
<br>
Progress: {{ progress }} <br>
Status Uploading: {{ status }}
						</div>
					</div>
					<button class="btn btn-block btn-primary" @click="post">Posted</button>
				</div>
			</div>
		</div>
<style>
* {
	margin: 0;
	padding: 0;
}
body {
	
}

.icon {
	border-radius: 20px;
	width: 80px;
	height: 80px;
}

.t-0 {
	top: 0 !important;
}

.b-0 {
	bottom: 0 !important;
}

.mt-7 {
	margin-top: 4.5rem !important;
}
.mt-10 {
	margin-top: 6rem !important;
}
.scroll {
	width: 100%;
	height: 200px;
	white-space: nowrap;
	overflow-x: scroll !important;
	overflow-y: hidden !important;
	-webkit-overflow-scrolling: touch !important;
	-moz-overflow-scrolling: touch !important;
	-ms-overflow-scrolling: touch !important;
	-o-overflow-scrolling: touch !important;
	overflow-scrolling: touch !important;
	-webkit-overflow-style: -webkit-autohiding-scrollbar !important;
	-moz-overflow-style: -moz-autohiding-scrollbar !important;
	-ms-overflow-style: -ms-autohiding-scrollbar !important;
	-o-overflow-style: -o-autohiding-scrollbar !important;
}
.scroll > img {
	width: 40%;
	height: 100%;
	display: inline-block;
}

.screenshoot {
	border-radius: 10px;
}

.icon-more::after {
	content: "";
	width: 7px;
	height: 7px;
	border: 3px solid rgba(177, 177, 177, .5);
	border-top: 0;
	border-left: 0;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	right: 1.5em;
	transform: rotate(45deg);
}

.detail-close {
	height: 3.5em !important;
	overflow-y: hidden;
}
.detail-open {
	height: auto !important;
}

.appea-none {
	-webkit-appearance: none !important;
	border-radius: 0;
	border: 1px solid rgba(0, 0, 0, .2);
}
</style>
<script>
var database = firebase.database()
var storage = firebase.storage()
var configMdl = {
	  spellChecker: false,/*
	  autosave: {
		  enabled: false,
	  	  unique_id: "description"
	  },*/
	 //autofocus: true,
	 //promptURLs: false,
	 toolbar: [
		{ name: "bold", action: SimpleMDE.toggleBold, className: "fa fa-bold", title: "Bold" },
		{ name: "italic", action: SimpleMDE.toggleStrikethrough, className: "fa fa-strikethrough", title: "Strikethrough" },
		{ name: "strikethrough", action: SimpleMDE.toggleItalic, className: "fa fa-italic", title: "Italic" },
		{ name: "heading-1", action: SimpleMDE.toggleHeadingBigger, className: "fa fa-header fa-header-x", title: "Bold" },
		{ name: "heading-1", action: SimpleMDE.toggleHeading1, className: "fa fa-header fa-header-x fa-header-1", title: "Bold" },
		{ name: "heading-2", action: SimpleMDE.toggleHeading2, className: "fa fa-header fa-header-x fa-header-2", title: "Bold" },
		{ name: "heading-3", action: SimpleMDE.toggleHeading3, className: "fa fa-header fa-header-x fa-header-3", title: "Bold" },
					"|",
		{ name: "code", action: SimpleMDE.toggleCodeBlock, className: "fa fa-code", title: "Code" },
		{ name: "quote", action: SimpleMDE.toggleBlockquote, className: "fa fa-quote-left", title: "Quote" },
		{ name: "unordered-list", action: SimpleMDE.toggleUnorderedList, className: "fa fa-list-ul", title: "Generic List" },
		{ name: "ordered-list", action: SimpleMDE.toggleOrderedList, className: "fa fa-list-ol", title: "Numbered List" },
		{ name: "table", action: SimpleMDE.drawTable, className: "fa fa-table", title: "Insert Table" },
		{ name: "horizontal-rule", action: SimpleMDE.drawHorizontalRule, className: "fa fa-minus", title: "Insert Horizontal Line" },
		{ name: "clean-block", action: SimpleMDE.cleanBlock, className: "fa fa-eraser fa-clean-block", title: "Clean block" },
"|",
		{ name: "bold", action: SimpleMDE.drawLink, className: "fa fa-link", title: "Create Link" },
/*
		{ name: "image",
		  action: () => {
			this.modalImage = true;
			this.$store.dispatch('getFiles');
		  },
		  className: "fa fa-image",
		  title: "Upload Image", },*/
					"|",
		  { name: "preview", action: SimpleMDE.togglePreview, className: "fa fa-eye no-disable", title: "Toggle Preview"},
		  { name: "side-by-side", action: SimpleMDE.toggleSideBySide, className: "fa fa-columns no-disable no-mobile",title: "Toggle Side by Side"},
		  { name: "fullscreen", action: SimpleMDE.toggleFullScreen, className: "fa fa-arrows-alt no-disable no-mobile", title: "Toggle Fullscreen"},
					"|",
		   { name: "undo", action: SimpleMDE.togglePreview, className: "fa fa-undo no-disable", title: "Undo"},
		   { name: "redo", action: SimpleMDE.togglePreview, className: "fa fa-repeat no-disable", title: "Redo"}
	   ]
}


onerror = console.warn = console.error = e => alert(e + "")
function json (e) {
   return typeof e === "string" ? btoa(e) : (typeof e).match(/object|function|symbol/) ? e : JSON.stringify(e)
}
function toURL(file) {
   return new my.promise(e => {
	 my(new FileReader)
	 .load(function () {
		 e.done(this.result)
	 })[0]
	  .readAsDataURL(file)
   })
}
Vue.component("media", {
	template: "\
		<img class='img-fluid screenshoot border ml-3' v-if='file && file.type.match(/image/)' :src='base' />\
	",
	data() {
		return {
			base: ""
		}
	},
	props: ["file"],
	created() {
		toURL(this.file)
		.then((e, f, args) => {
		   this.base = args[0]
		}).end()
	}
})
new Vue({
	el: ".container",
	data: {
		name: "Tên app",
		package: "",
		icon: null,
		iconbase: null,
		size: 0,
		versions: "",
		type: "app",
		infor: {
			
		},
		screenshoot: [],
		status: "",
		nameProgress: "",
		progress: ""
	},
	watch: {
		icon(n) {
			toURL(n)
			.then((a, b, c) => {
				this.iconbase = c[0]
			})
			.end()
		}
	},
	methods: {
		is() {
			return (!(this.name + "").match(/\S/) || !(this.package + "").match(/\S/) || typeof this.icon != "object" || !(this.size + "").match(/\S/) || !(this.versions + "").match(/\S/))
		},
		toURL(file) {
			
		},
		inpMedia() {
			var _ = this.screenshoot
			 my("<input type='file' hidden accept='*/(?:video|image)'>")
			 .change(function () {
				if (this.files.length)
					_.push(this.files[0])
			 })
			 .blur(function () {
				 this.remove()
			 })
			 .appendTo("body")
			 .click()
		},
		inpMediaIcon() {
			var _ = this
			 my("<input type='file' hidden accept='*/(?:video|image)'>")
			 .change(function () {
				if (this.files.length)
					_.icon = this.files[0]
			 })
			 .blur(function () {
				 this.remove()
			 })
			 .appendTo("body")
			 .click()
		},
		post() {
			if (this.is())
				return 

alert("post")

//var storage = firebase.storage()
var ICON, SCREENSHOOT = [], _ = this
new my.promise(rejack => {
alert("icon")
	// upload icon app!
	
	_.nameProgress = "icon"
	var upTask = storage.ref("icons/" + _.package + ".png")
	.put(_.icon, { contentType: _.icon.type })
	
	upTask.on(
		"state_changed",
		function (snapshot) {
			// progress
			_.progress = snapshot.bytesTransferred / snapshot.totalBytes * 100

			_.status = snapshot.state
		},
		function () {
			// error
			_.status = "error"
		},
		function () {
			_.status = "done"
			upTask.snapshot.ref
			.getDownloadURL()
			.then(function (url) {
				ICON = url
				rejack.done()
			})
		}
	)
})
.then(rejack => {
alert("screen")
	// upload screenshoot
	_.screenshoot.length &&
	upload(_.screenshoot[0], 0)
	function upload (val, key) {
		_.nameProgress = "screen " + key
		var upTask = storage.ref("screenshoot/" + _.package + "/" + key + ".jpg")
		.put(_.icon, { contentType: _.icon.type })

		upTask.on(
			"state_changed",
			function (snapshot) {
				// progress
				_.progress = snapshot.bytesTransferred / snapshot.totalBytes * 100

				_.status = snapshot.state
			},
			function () {
				// error
				_.status = "error"
				if (key >= _.screenshoot.length) rejack.done();
				 else upload(_.screenshoot[key], key)
			},
			function () {
				_.status = "done"
			  upTask.snapshot.ref
			   .getDownloadURL()
				.then(function(url) {
					SCREENSHOOT[key++] = url
					if (key >= _.screenshoot.length) rejack.done();
				 else upload(_.screenshoot[key], key)
				})
			}
		)
	}
})
.then(rejack => {
	_.nameProgress = "Posted database"
	_.progress = null
	_.status = "running"
try {
	database.ref("apps/" + json(_.package)).set({
		screenshoot: SCREENSHOOT,
		name: _.name,
		icon: ICON,
		size: _.size,
	   versions: _.versions,
	   infor: _.infor,
	   type: _.type,
      time: Date.now()
	})
	.then(function () {
		alert("done")
	})
	.catch(function () {
		alert("error!")
	})
} catch (e) { alert("failed " + e) }
})
.end()

		}
	},
	mounted() {
		configMdl.element = this.$refs.description
		 this.description = new SimpleMDE(configMdl)
	}
})
/*
my("#addImage").click(function () {
	
})*/
</script>
	</body>
</html>