*
{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
header{
	background-image: url("../header.jpg");
	margin: 0;
	padding: 0;
}
@-webkit-keyframes moveright1{
  from{
    transform: translateX(-50%);
  }
  to{
    transform: translateX(0%);
  }
